/* style.scss */


$white: #ffffff;
$gray1: #f5f5f5;
$gray2: #e2e2e2;
$gray3: #c7c7c7;
$gray4: #a7a7a7;
$gray5: #868686;
$gray6: #666666;
$gray7: #4a4a4a;
$gray8: #323232;
$gray9: #202020;
$black: #000000;

$blue: #0b61a3;
$blue-dark: #0c7197;

$gold: #ddc95c;

$bp-mobile:680px;
$bp-narrow:768px;
$bp-regular:1024px;
$bp-wide:1280px;
$bp-xwide:1440px;

$p-teal: #1ABC9C;
$p-teal-dark: #16A085;
$p-green: #2ECC71;
$p-green-dark: #27AE60;
$p-blue: #3498DB;
$p-blue-dark: #2980B9;
$p-purple: #9B59B6;
$p-purple-dark:#8E44AD;
$p-gray: #34495E;
$p-gray-light: #64798E;
$p-gray-dark:#2C3E50;
$p-yellow: #F1C40F;
$p-yellow-dark:#F39C12;
$p-orange: #E67E22;
$p-orange-dark :#D35400;
$p-red: #E74C3C;
$p-red-dark: #C0392B;
$p-pink: #ec95d8;
$p-brown: #AC6D4A;	

.pastel1 {
    background: $p-teal !important;
    fill: $p-teal !important;}
.pastel2{
    background: $p-green !important;
    fill: $p-green !important;}
.pastel3{
    background: $p-orange !important;
    fill: $p-orange !important;}
.pastel4{
    background: $p-blue !important;
    fill: $p-blue !important;}
.pastel5{
    background: $p-purple !important;
    fill: $p-purple !important;}
.pastel6{
    background: $p-pink !important;
    fill: $p-pink !important;}
.pastel7{
    background: $p-yellow !important;
    fill: $p-yellow !important;}
.pastel8{
    background: $p-teal-dark !important;
    fill: $p-teal-dark !important;}
.pastel9{
    background: $p-red !important;
    fill: $p-red !important;}
.pastel10{
    background: $p-yellow-dark !important;
    fill: $p-yellow-dark !important;}

.pastel11{
    background: $p-brown !important;
    fill: $p-brown !important;}
.pastel12{
    background: $p-orange-dark !important;
    fill: $p-orange-dark !important;}
.pastel13{
    background: $p-teal-dark !important;
    fill: $p-teal-dark !important;}
.pastel14{
    background: $p-red-dark !important;
    fill: $p-red-dark !important;}



.text-pastel1{
    color: $p-teal;}
.text-pastel2{
    color: $p-green;}
.text-pastel3{
    color: $p-orange;}
.text-pastel4{
    color: $p-blue;}
.text-pastel5{
    color: $p-purple;}
.text-pastel6{
    color: $p-pink;}
.text-pastel7{
    color: $p-yellow;}
.text-pastel8{
    color: $p-teal-dark;}
.text-pastel9{
    color: $p-red;}
.text-pastel10{
    color: $p-yellow-dark;}




* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}


@mixin css-animate($name, $time, $iteration, $delay, $ease) {
	animation: $name linear $time $iteration;
	-moz-animation: $name linear $time  $iteration;
	-webkit-animation: $name linear $time  $iteration;
	animation-delay: $delay;
	-moz-animation-delay: $delay; /* Firefox */
	-webkit-animation-delay: $delay; /* Safari and Chrome */
	-o-animation-delay: $delay; /* Opera */
	animation-timing-function:$ease;
	-moz-animation-timing-function:$ease; /* Firefox */
	-webkit-animation-timing-function:$ease; /* Safari and Chrome */
	-o-animation-timing-function:$ease; /* Opera */
}

@mixin translate3d($x, $y, $z) {
	-webkit-transform: translate3d($x, $y, $z); 
	-moz-transform: translate3d($x, $y, $z); 
	-ms-transform: translate3d($x, $y, $z); 
	transform: translate3d($x, $y, $z); 
}

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

html, body {
	width:100%;
	height:100%;
	font-size:12px;
	font-family: 'Roboto', sans-serif;
	line-height:1.2;
	min-width:320px;
	-webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
	-moz-text-size-adjust: none;
    text-size-adjust: none;
	color: $black;
	font-size: 16px;
	margin: 0;

}

a, a:visited {
    text-decoration: none;
    color: inherit;

    &:hover,  &.active {
        color: $p-red;
    }
}

.header {
    text-align: center;
    font-size: 20px;
    padding: 8px;
    margin-bottom: 8px;

    a {
        padding: 8px;
        margin: 8px;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px 16px 16px;
    min-width: 1024px;

    perspective: 1000px;
    -webkit-perspective: 1000px;
}


.house {
    width: 960px;
    height: 258px;
    background: url(../img/house.png);
    position: absolute;
    left: 0;
    bottom: 0;
}

.smoke {
    width: 21px;
    height: 45px;
    background: url(../img/smoke.gif);
    position: absolute;
    left: 464px;
    top: 64px;
}


.container-contact {
    width: 960px;
    height: 192px;
    border: 3px solid $black;
    background: url(../img/bg-contact.png);
    position: relative;
    overflow: hidden;  
}

.graffiti {
    width: 960px;
    height: 384px;
    border: 3px solid $black;
    background: url(../img/graffiti.jpg);
    position: relative;
    overflow: hidden;  
    margin: 0 auto 32px auto;
}

p {
    a {
        color: $p-red !important;
    }
}

.mail-bird {
    width: 225px;
    height: 144px;
    background: url(../img/bird-mail.png);
    position: absolute;
    left: 50%;
    top: 50%;
    animation: birdMail 3s infinite;
}

.cloud {
    width: 303px;
    height: 72px;
    background: url(../img/cloud.png);
    position: absolute;
    bottom: 0;
    right: 0;
    animation: flyingCloud 4s infinite linear;
    transform: translate(303px, 0);
}

@keyframes flyingCloud {
    0%{
        transform: translate(303px, 0);
    }
    80%{
        transform: translate(-1000px, 0);
    }
    100%{
        transform: translate(-1000px, 0);
    }
}

@keyframes birdMail {
    0% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-45%, -35%);
    }
  
    100% {
        transform: translate(-50%, -50%);
    }
}

.contact-wrap {
    display: flex;
    justify-content: space-around;
    width: 960px;
    margin: 0 auto;

}
.contact-box {
    padding: 16px;
    font-size: 20px;
    line-height: 1.5;
    .contact-name {
        font-weight: bold;
    }
}

.location {
    width: 960px;
    margin: 0 auto;
    padding: 16px 48px;
    line-height: 1.5;
}

.h1 {
    font-size: 32px;
}

.location-wrap {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
}

.map-box {
    border: 3px solid black;
}

.train-line {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: $gray4;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
}

.address-box {
    padding: 16px 48px;
    font-size: 24px;
    line-height: 1.5;

    div {
        margin-bottom: 16px;
    }

    span {
        color: $p-red;
    }
}
.container {
    width: 960px;
    height: 720px;
    border: 3px solid $black;
    background: url(../img/bg.png);
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    @include css-animate(showCard, 1s, 1, 0, ease-out);
    
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
    img {
        position: absolute;
        top: 0;
        left: 0;

        &.birds {
            top: 287px;
            left: 347px;
        }

        &.train {
            top: 222px;
            @include css-animate(animateTrain, 15s, infinite, 0, linear);
        }

        &.du {
            top: 279px;
            left: 594px;
        }

        &.eyes {
            top: 357px;
            left: 297px;
        }

        &.text {
            top: auto;
            bottom: 0;
            //@include css-animate(showText, 1.5s, 1, 0, ease-out);
        }
    }
}

.card-inner {
    &.thankyou {
        display: none;

        h2 {
            margin: 8px 8px 0 8px;
            font-size: 20px;
        }

        p {
            font-size: 12px;
        }

        div {
            font-size: 16px;
        }
    }
}

.balloon {
    width: 78px;
    height: 267px;
    background-size: 78px 267px;
    position: absolute;
    bottom: 0;
    display: none;


    .animate-baloons & {
        display: block;
        &.b1 {
            background-image: url(../img/baloon-1.png);
            left: 50%;
            @include css-animate(balloonOne, 4.5s, infinite, 0, ease-out);
        }
        &.b2 {
            background-image: url(../img/baloon-2.png);
            left: 50%;
            @include css-animate(balloonTwo, 4.2s, infinite, 0, ease-out);
        }
        &.b3 {
            background-image: url(../img/baloon-3.png);
            left: 48%;
            @include css-animate(balloonOne, 4s, infinite, 0, ease-out);
        }
        &.b4 {
            background-image: url(../img/baloon-4.png);
            left: 52%;
            @include css-animate(balloonTwo, 4.7s, infinite, 0, ease-out);

        }
    }

   
}

.card {
    position: absolute;
    width: 270px;
    height: 180px;
    top: 396px;
    left: 345px;
    padding: 16px 24px;
   
    text-align: center;
    span {
        display: block;
        margin: 0 0 8px 0;
        font-size: 16px;
    }

    input[type="text"] {
        display: block;
        margin-bottom: 8px;
        height: 24px;
        width: 100%;
        padding-left: 4px;
        font-size: 13px;
    }

    button {
        border: none;
        background: $gold;
        height: 24px;
        font-size: 13px;
        padding: 0 12px;
        cursor: pointer;

        &:hover {
            color: white;
        }
    }

    .plusone {
        text-align: left;
        position: absolute;
        font-size: 13px;
        bottom: 20px;
        display: none;
    }
}

@include keyframes(balloonOne) {
    0% {
        transform: translate(0, 100%);
    }
    100% {
        transform: translate(80px, -960px);
    }
}

@include keyframes(balloonTwo) {
    0% {
        transform: translate(0, 100%);
    }
    100% {
        transform: translate(-80px, -960px);
    }
}

@include keyframes(animateTrain) {
    0% {
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(960px);
    }
}

@include keyframes(showText) {
    0% {
        transform: translateY(100%);
    }
    60% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@include keyframes(showCard) {
    0% {
        transform: translateX(75%) rotateY(60deg) scale(.5);
    }
    100% {
        transform: translateX(0) rotateY(0) scale(1);
    }
}



